python.invokePipAsModule=true
python.path=python3.9
python.installVirtualenv=true
python.resolveDependencies=true
python.ignorePipInstallErrors=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
python.runPoetryPreStep=true
